body {
  font-family: 'Jura', sans-serif;
}

.card {
  max-width: 340px;
  padding: 0;
  margin: 30px 10px 30px 10px;
  font-family: 'Jura', sans-serif;
  display: inline-block !important;
  box-shadow: 2px 2px 3px grey !important;
}

.jumbotron {
  color: black;
  background: white;
  margin-bottom: 0;
}

p{
  margin: 0;
  font-size: 15px;
}

#cctvIntro {
  background-image: url('../material/cctv.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 4px silver;
  
}
