body{
  font-family: 'Jura', sans-serif;
}

#labels {
  padding: 5vh 5vh 5vh 5vh;
  color: black;
  overflow-x: hidden;
}

.card{
  max-width:340px;
  padding: 0;
  margin: 10px;
  display:inline-table;
  box-shadow: 2px 2px 3px grey;
  background: white;
  color:grey;
  transition: 1s;
}

.card:hover {
  box-shadow: 2px 2px 3px #f9e79f;
}

.card-body{
  padding: 0;
}

.card-body .card-title, .card-body .card-text{
  padding: 0px 10px 0px 10px;
}

.card-text{
  font-size: 14px;
  text-align: center;
}

.card h5{
  font-size: 18px;
}

.btn-group button{
  border-radius: 0;
  border:none;
  box-shadow:
    inset 0px 11px 8px -10px  #91979c ,
    inset 0px -11px 8px -10px  #91979c ;
}

#menu{
  border: solid;
  border-width: thin;
  border-top: none;
  border-color:  #60676c   ;
  box-shadow:
    inset 0px 11px 8px -10px  #91979c ,
    inset 0px -11px 8px -10px  #91979c ,
    0px 0px 2px black;
}

#tablesDiv img{
  height:190px;
  width:330px;
}
