/*FOOTER*/

#footer{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFFFFF,  #f8f9f9 );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFFFFF,  #f8f9f9 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color: black;
 z-index: 50;
 box-shadow: 0px 0px 6px 0px silver;
 font-family: 'Jura', sans-serif !important;
}
#footer h5 , #footer li{
  font-family: 'Jura', sans-serif !important;
  font-weight: normal !important;
}
#footer .row , #footer .col{
  padding: 0;
}

.list-group li{
  color:black !important;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF,  #f8f9f9 );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF,  #f8f9f9 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 2s;
}

.list-group-item{
  margin-bottom: 7px;
  border-radius: 7px !important;
  box-shadow: 0px 0px 2px 0px silver;
}
