#payInfo {
  display: block !important;
}

body {
  font-family: 'Jura', sans-serif;
}

.jumbotron {
   background:transparent;
  padding-top: 4vh !important;
  margin-top: 0 !important;
  color: white;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

#introText {
  background-image: url('../material/handshake.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  box-shadow: 0px 0px 4px black;
}

#works .card {
  display: inline-block;
  margin: 12px 5px 0px 5px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  box-shadow: 0px 0px 8px #282828;
  color: white;
  border: none;
  background: transparent;
}

.card-title{
  padding: 10px 0px 10px 0px !important;
  margin:0;
}

#works .card-body {
  padding: 0;
  z-index: 20;
  background: transparent
  color:white;
}

#works {
  padding: 5vh 0vh 5vh 0vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

#worksWrapper{
  background: url('../material/bp3.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

@media only screen and (max-width: 750px) {
  #worksWrapper{
    background: url('../material/bp3mob.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
  }
}

#worksInner{
  background: rgba(115,115,115, 0.5);
}

#works img {
  height: 205px;
  width: 320px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  transition: 1.2s;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0);
  /* IE 9 */
  -webkit-transform: translateZ(0);
  /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

#works img:hover {
  transform: scale(1.1);
}

.work {
  overflow: hidden;
}
