body {
  font-family: 'Jura', sans-serif;
}

.card {
  max-width: 340px;
  padding: 0;
  margin: 30px 10px 30px 10px;
  font-family: 'Jura', sans-serif;
  display: inline-table;
  box-shadow: 2px 2px 3px grey !important;
}

p{
  margin: 0;
}

.jumbotron{
  background: white;
  margin-bottom: 0;
  max-width: 100vw;
  overflow-x: hidden;
  padding-top: 25px;
}
ul{
  padding-right:5px;
}
ul li{
  color: black;
}
