body{
  font-family: 'Jura', sans-serif !important;
}

.jumbotron{
  background: white;
  margin-bottom: 0;
  max-width: 100vw;
  overflow-x: hidden;
}
ul{
  padding-right:5px;
}
ul li{
  color: black;
}
