nav {
  position: relative;
  top: 0;
  z-index: 100;
  font-size: 100%;
  background: linear-gradient(135deg, #011a27, #063852, #054769);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-shadow: 2px 2px 3px black !important;
}

@media only screen and (max-width: 500px) {
  .navbar-brand img {
    width: 280px !important;
    height: auto !important;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-brand {
  cursor: pointer;
}

ul li {
  font-family: 'Jura', sans-serif;
  cursor: pointer;
  color: white;
}

a{
  color: white !important;
}

.dropdown-menu a{
  color: black !important;
}

.dropdown-menu {
  background: #f8f9f9 !important;
  margin-top: -5px;
  box-shadow: 0px 0px 2px 0px silver;
  margin-top: 0px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.dropdown-item:hover {
  background: #f2f3f4 !important;
  color: #44b4ff !important;
}

.nav-link {
  text-shadow: 2px 2px 4px black;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  /* ^- the important bit. RGB 192,192,192 is the same as #C0C0C0*/
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}

.drop-link {
  border-bottom: none !important;
}

.nav-link:hover {
  border-bottom: 1px solid white;
}

#openSidebar {
  background: rgba(0, 0, 0, 0);
  color: #d9e5f1 !important;
  border-color: #0994dd !important;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#LGTV {
  animation-name: LGTVanim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes LGTVanim {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}
