/*SIDEBAR*/
#sidebar{
  position:fixed;
  top:5vh;
  width:0;
  height:90vh;
  overflow-y: auto;
  background:white;
  z-index:150;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}
#sidebar a{
  text-decoration: none;
}
#sidebar ul{
  list-style:none;
  padding: 0;
}
#sidebar hr{

}
#sidebar h4{
  color:#212f3c;
  display:inline;
  margin-left:12px;
/*text-shadow: 2px 2px 4px #000000;*/
}
ul i{
  color:#7D7D7E;
  margin-left: 20px;
}
ul li{
  cursor:pointer;
}
#sidebarLinks{
  margin-top:100px;
  font-family: 'Jura', sans-serif;
  display:none;
}
/*SECONDARY SIDEBAR*/
#secondarySidebar{
  position:fixed;
  top:5vh;
  width:0;
  height:90vh;
  overflow-y: auto;
  background:white;
  z-index:200;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}
#secondarySidebar a{
  text-decoration: none;
}
#secondarySidebar h4{
  display:inline;
  /*text-shadow: 2px 2px 4px #000000;*/
}
#secondarySidebar ul{
  list-style:none;
  padding:0;
}
#secondarySidebar ul li{
  color: #17202a ;
}
#secondarySidebar h2{
  margin-bottom:50px;
  /*text-shadow: 2px 2px 4px #000000;*/
}

#ulA , #ulC , #ulD {
  margin-top:100px;
  font-family: 'Jura', sans-serif;
  display:none;
}

#ulAClose,#ulCClose,#ulDClose{
  margin-top:10px;
  background: rgba(0,0,0,0);
  color: #1b4f72 ;
  border-color: #2e86c1 ;
  border-radius:10px;
  cursor: pointer;
  z-index:300;
}
#ulAClose h6,#ulCClose h6,#ulDClose h6{
  font-family: 'Jura', sans-serif;
}

#closeSidebar {
  margin-top:10px;
  background: rgba(0,0,0,0);
  color: #1b4f72 ;
  border-color: #2e86c1 ;
  margin-top:10px;
  border-radius:10px;
  cursor: pointer;
  font-family: 'Jura', sans-serif;
}

#smNavbarBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  background: transparent;
  color:#1F618D;
  border:none;
  cursor: pointer;
  z-index:100;
}
#goTop{
   display:none;
   position:fixed;
   border:none;
   right:0px;
   bottom:30px;
   cursor:pointer;
   color:rgba(0,0,0,0.3);
   background: transparent;
   z-index:100;
}
