{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Προσφορές</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/offers.css' %}">
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
{% endblock %}

{% block body %}
{% include 'sifnaios/secondaryNavigationBar.html' %}

<div style="padding:10vh 0vh 10vh 0vh;" class="text-center">
  <h1>Προσφορές</h1>
  <hr>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
{% include 'sifnaios/footer.html' %}
{% endblock %}
