{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Video Player PC</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
<link rel="stylesheet" href="{% static 'sifnaios/css/payInfo.css' %}">
{% endblock %}

{% block body %}
{% include 'sifnaios/secondaryNavigationBar.html' %}

<div style="margin:7vh 0vh 7vh 0vh; color:white;" class="text-center">
  <h1>Πληροφορίες Πληρωμών</h1>
</div>

<div class="">
  <img style="height:100vh; min-width:100vw; z-index:-1; position:fixed; top:0;" src="{% static 'sifnaios/material/pay.jpeg' %}" alt="">
</div>

<div class="container">

  <div data-aos="fade-left" style="box-shadow:3px 3px 4px #212a3b; background: #fbfcfc ;" class="jumbotron">
    <div style="padding:12px 0px 12px 0px;" class="">
      <img style="box-shadow: 3px 3px 4px silver; margin-right:12px;" src="{% static 'sifnaios/material/peiraiws.png' %}" alt="">
      <h2 style="display:inline-block;">Τράπεζα Πειραιώς</h2>
    </div>
    <div class="text-left">
      <h5>Δικαιούχος:</h5>
      <h6>Η αναβίωση της παράδοσης στον κοινωνικό μετασχηματισμό</h6>
    </div>
    <hr class="my-4">
    <div class="text-left">
        <h3>IBAN:</h3>
        <h5>GR16 0110 1250 0056 0001 2300 695</h5>
    </div>
  </div>

  <div data-aos="fade-right" style="box-shadow:3px 3px 4px #212a3b; background: #fbfcfc ;" class="jumbotron">
    <div style="padding:12px 0px 12px 0px;" class="">
      <img style="box-shadow: 3px 3px 4px silver; margin-right:12px;" src="{% static 'sifnaios/material/eurobank.png' %}" alt="">
      <h2 style="display:inline-block;">Eurobank</h2>
    </div>
    <div class="text-left">
      <h5>Δικαιούχος:</h5>
      <h6>Η αναβίωση της παράδοσης στον κοινωνικό μετασχηματισμό</h6>
    </div>
    <hr class="my-4">
    <div class="text-left">
        <h3>IBAN:</h3>
        <h5>GR16 0110 1250 0056 0001 2300 695</h5>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
{% include 'sifnaios/footer.html' %}
{% endblock %}
