{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Προφίλ</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
{% endblock %}

{% block body %}
{% include 'sifnaios/secondaryNavigationBar.html' %}

<div style="min-height:;">

  <div class="text-center" style="background: url({% static 'sifnaios/material/52932.jpg' %}) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;">
    <h1 style="color:black;font-family: 'Jura', sans-serif; padding: 80px 0px 80px 0px;">Εταιρικό Προφίλ</h1>
    <!--<i style="margin-left:2vw; color:silver;" class="far fa-building fa-3x"></i>-->
  </div>


    <div  class="container">
      <h5 style="margin-top:5vh;  font-family: 'Jura', sans-serif;" class="text-left">
        Ξεκινώντας το 1997 με πολύ όρεξη και διάθεση κάναμε τα πρώτα μας επαγγελματικά βήματα δημιουργώντας την πρώτη μας επιχείρηση.<br><br>
        Η οικογενειακή μας παράδοση στον χώρο των κατασκευών, σε συνδυασμό με τις σπουδές σε ανώτατα εκπαιδευτικά ιδρύματα στον τομέα της
        τεχνολογίας μας έδωσαν την δυνατότητα από νωρίς να κάνουμε το νέο μας ξεκίνημα σε δυνατές βάσεις.<br><br>
        Περνώντας τα χρόνια και μέσα από εκατοντάδες ίσως και χιλιάδες μικρές και μεγάλες εγκαταστάσεις, γίναμε καλύτεροι και αποκτήσαμε εμπειρίες
        και γνώσεις που μας δίνουν πλέον την δυνατότητα, να μπορούμε να ανταπεξέλθουμε και στις πιο απαιτητικές εγκαταστάσεις.
        Στόχος μας πάντα ήταν και είναι να προσφέρουμε με συνέπεια και σοβαρότητα τις υπηρεσίες μας στον χώρο αυτό.
      </h5><br><br>

      <h6 style=" font-family: 'Jura', sans-serif;" class="text-right">
        Είμαστε πάντα στην διάθεση σας.<br>
        Με εκτίμηση<br>
        Σιφναίος Αντώνης
      </h6><br><br>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
  {% include 'sifnaios/footer.html' %}
{% endblock %}
