{% extends 'sifnaios/base.html' %}

  {% load static %}

  {% block title %}
    <title>Sifnaios Services - Όροι χρήσης</title>
  {% endblock %}

  {% block links %}
    <link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
  {% endblock %}

  {% block body %}
    {% include 'sifnaios/secondaryNavigationBar.html' %}

    <div  style=" margin-bottom:7vh;   background: url({% static 'sifnaios/material/52932.jpg' %}) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;" class="text-center">
      <h1 style=" font-family: 'Jura', sans-serif; padding: 80px 0px 80px 0px; margin-left:50px;">Όροι Χρήσης</h1>
    </div>

    <div class="container text-center">



      <h5 style="font-family: 'Jura', sans-serif;" class="text-left">
        Ο επισκέπτης/χρήστης των σελίδων και των υπηρεσιών του δικτυακού τόπου sifnaios.gr οφείλει να διαβάσει προσεκτικά τους όρους χρήσης και τις προυποθέσεις παροχής υπηρεσιών που ακολουθούν πριν από την επίσκεψη ή τη χρήση των σελίδων και των υπηρεσιών μας και σε περίπτωση διαφωνίας οφείλει να μην κάνει χρήση τους, σε περίπτωση συνέχειας επίσκεψης περιήγησης στην σελίδα αυτόματα αποδέχεται  και παραχωρεί τη συγκαταθεσή του.<br><br>
        Οι όροι χρήσης ισχύουν για το σύνολο του περιεχομένου και για ό,τι γενικά περιλαμβάνεται στις σελίδες του δικτυακού τόπου sifnaios.gr . <br><br>
        Η εταρία sifnaios.gr  δύναται οποιαδήποτε χρονική στιγμή να τροποποιεί τους όρους χρήσης και τις προυποθέσεις, οι δε χρήστες/επισκέπτες οφείλουν κάθε φορά να ελέγχουν για ενδεχόμενες αλλαγές και εφόσον εξακολουθούν τη χρήση εικάζεται ότι αποδέχονται τους τροποποιημένους όρους και προυποθέσεις. <br><br>
        Οι χρήστες- επισκέπτες αποδέχονται ότι θα κάνουν σύννομη και πρόσφορη χρήση του παρόντος δικτυακού τόπου, υποκείμενοι εκτός των άλλων και στη νομοθεσία που αφορά την μετάδοση δεδομένων από την Ελλάδα προς Κράτη-Μέλη της Ευρωπαϊκής Ένωσης και τρίτες χώρες. <br><br>
        Ως εκ τούτου, οι χρήστες- επισκέπτες συμφωνούν ότι δεν θα κάνουν χρήση του παρόντος δικτυακού τόπου για: <br><br>
        <span style="font-weight:bold;">α )</span> Να μεταδώσουν ή να αποκτήσουν πρόσβαση σε περιεχόμενο που: <br><br>
        <span style="font-weight:bold; margin-left:10px;">i )</span> παραβιάζει οποιαδήποτε δικαιώματα τρίτων (πχ πνευματικής και βιομηχανικής ιδιοκτησίας), <br><br>
        <span style="font-weight:bold; margin-left:10px;">ii )</span> προσβάλει την προσωπικότητα τρίτων (πχ συκοφαντικό, ρατσιστικό) <br><br>
        <span style="font-weight:bold; margin-left:10px;">iii )</span> έρχεται σε αντίθεση με το νόμο και τα χρηστά και συναλλακτικά ήθη,<br><br>
        <span style="font-weight:bold; margin-left:10px;">iv )</span> παρενοχλεί με οποιονδήποτε τρόπο την ιδιωτική ζωή και τα ατομικά και κοινωνικά δικαιώματα τρίτων. <br><br>
        <span style="font-weight:bold;">β )</span> Να παραπλανήσουν οποιονδήποτε ως προς την προέλευση του περιεχομένου του παρόντος δικτυακού τόπου , να ζημιώσουν, με οποιονδήποτε τρόπο, τη φήμη της ιδιοκτήτριας εταιρείας ή τρίτων, να θέσουν σε κίνδυνο την ασφάλεια του δικτύου της εταιρείας, να εμποδίσουν οποιονδήποτε επισκέπτη να έχει πρόσβαση στον παρόντα δικτακό τόπο ή να παρακάπτουν τον έλεγχο της ταυτότητάς τους από την ιδιοκτήτρια εταιρεία. <br><br>
        <span style="font-weight:bold;">γ )</span> Να εγκαταστήσουν και προωθήσουν, με οποιοδήποτε τρόπο, οποιουδήποτε είδους αυτόκλητη ή μη εξουσιοδοτημένη διαφήμιση ή μη ζητηθέντα από το λήπτη ηλεκτρονικά μηνύματα (spam), συστήματα πυραμίδων και οποιαδήποτε άλλη μορφή ανεπιθύμητης προώθησης περιεχομένου, καθώς και να εγκαταστήσουν και προωθήσουν διαφημίσεις χωρίς την έγγραφη συναίνεση της ιδιοκτήτριας εταιρείας. <br><br>
        <span style="font-weight:bold;">δ )</span> Να εγκαταστήσουν, προωθήσουν ή/και διαθέσουν περιεχόμενο που περιέχει ιούς λογισμικού ή οποιοδήποτε άλλο ηλεκτρονικό κώδικα, αρχεία ή προγράμματα σχεδιασμένα να παρεμβληθούν, καταστρέψουν ή περιορίσουν τη λειτουργία οποιουδήποτε λογισμικού ή τηλεπικοινωνιακού εξοπλισμού ή να εμποδίσουν άλλους επισκέπτες να χρησιμοποιούν τον παρόντα δικτυακό τόπο. <br><br>
        Σε κάθε περίπτωση παράνομης ή αντίθετης στους παρόντες Όρους χρήσης του δικτυακού τόπου, οιχρήστες- επισκέπτες υποχρεούνται να αποζημιώνουν την ιδιοκτήτρια εταιρεία για κάθε θετική και αποθετική της ζημία. Η μη ενάσκηση από την δικαιούχο των εκ των παρόντων Όρων δικαιωμάτων της δεν συνεπάγεται παραίτησή της από τα δικαιώματά της αυτά. <br><br>
        Για την πρόσβαση σε ορισμένες υπηρεσίες ή για τη σύνδεση με ορισμένες ιστοσελίδες του Δικτυακού μας τόπου, ενδέχεται να ζητηθούν από την ιδιοκτήτρια εταιρεία τα στοιχεία των χρηστών/επισκεπτών με σκοπό την απονομή σχετικού Κωδικού Πρόσβασης. Τα ανωτέρω στοιχεία, πρέπει να είναι πάντοτε αληθή, ακριβή, έγκυρα και πλήρη. <br><br>
        Οι χρήστες- επισκέπτες είναι υπεύθυνοι για όλες τις πράξεις που διενεργούνται με τον Κωδικό Πρόσβασης και υποχρεούνται να ειδοποιούν άμεσα την ιδιοκτήτρια εταιρεία για οποιαδήποτε μη εξουσιοδοτημένη χρήση αυτού και για οποιαδήποτε (ακόμα και για ενδεχόμενη) παραβίαση ασφαλείας. <br><br>
        Τα στοιχεία αυτά δεν γνωστοποιούνται σε τρίτους. <br><br>
        Η  εταιρεία δεν ευθύνεται για οποιαδήποτε βλάβη ή ζημία τυχόν προκύψει από την αυθαίρετη ή παράνομη χρήση του Κωδικού Πρόσβασης από τρίτους, λόγω διαρροής του ή για οποιονδήποτε άλλο λόγο και διατηρεί το δικαίωμα να ζητήσει την καταβολή αποζημίωσης από τον χρήστη/επισκέπτη, σε περίπτωση που υποστεί οποιουδήποτε είδους ζημία από την αυθαίρετη ή παράνομη χρήση του Κωδικού Πρόσβασης. <br><br>
        Η εταιρεία δικαιούται να αρνηθεί την απονομή Κωδικού Πρόσβασης ή να ακυρώσει και να τερματίσει την παροχή των υπηρεσιών στον χρήστη  σε περίπτωση παραβίασης των Όρων Χρήσης. <br><br>
        H εταιρεία δύναται να τηρεί Αρχείο και να επεξεργάζεται προσωπικά δεδομένα των Χρηστών, τα οποία θα περιέρχονται σε γνώση της, μέσω του παρόντος Δικτυακού τόπου και των παρεχομένων μέσω αυτού υπηρεσιών. <br><br>
        Στην περίπτωση αυτή, αποδέκτες των στοιχείων του Αρχείου για την προώθηση, υποστήριξη και εκτέλεση της μεταξύ ιδιοκτήτριας εταιρείας και Χρήστη συναλλακτικής σχέσης δύνανται να είναι τρίτοι, οι οποίοι συνεργάζονται με την ιδιοκτήτρια εταιρεία για την παροχή των σχετικών με το Αρχείο υπηρεσιών. <br><br>
        Ο Χρήστης διατηρεί τα δικαιώματα των άρθρων 11 & 13 του ν.2472/1997. <br><br>
        Η εταιρεία δεν αποκαλύπτει ούτε δημοσιοποιεί τα προσωπικά δεδομένα των Χρηστών.<br><br>
        Η εταιρεία δεν φέρει ευθύνη έναντι των χρηστών για τυχόν διαρροή των προσωπικών τους δεδομένων λόγω χρήσης εκ μέρους τους, μέσα από της σελίδες του παρόντος δικτυακού τόπου, προϊόντων και υπηρεσιών τρίτων.<br><br>
        Η εταιρεία μπορεί να χρησιμοποιεί session cookies για την αναγνώριση της ταυτότητας του επισκέπτη. Τα session cookies είναι μικρά κομάτια κώδικα που αποθηκεύονται στη μνήμη του ηλεκτρονικού υπολογιστή του χρήστη/επισκέπτη, δεν λαμβάνουν γνώση οποιουδήποτε εγγράφου ή αρχείου από τον υπολογιστή του και χρησιμοποιούνται μόνο για τη διευκόλυνση πρόσβασης του χρήστη/επισκέπτη σε συγκεκριμένες υπηρεσίες και για στατιστικούς λόγους, προκειμένου να καθορίζονται οι περιοχές στις οποίες οι υπηρεσίες του παρόντος δικτυακού τόπου είναι χρήσιμες ή δημοφιλείς ή για λόγους marketing.<br><br>
        O χρήστης/επισκέπτης μπορεί να ρυθμίσει το διακομιστή του, ώστε να μην λαμβάνει session cookies, είτε συνολικά, είτε κατά περίπτωση. Σε τέτοια περίπτωση δεν θα μπορεί να έχει περαιτέρω πρόσβαση στις υπηρεσίες αυτές.<br><br>
        Η συγκεκριμένη σύμβαση χρήσης διέπεται από τις διατάξεις του Ελληνικού Δικαίου, τις οδηγίες και τους Κανονισμούς του Ευρωπαικού Δικαίου και τις σχετικές Διεθνείς διατάξεις, ερμηνεύεται δε με βάση τους κανόνες της καλής πίστης, των συναλλακτικών ηθών και του οικονομικού και κοινωνικού σκοπού του δικαιώματος. Εάν κάποια διάταξη κριθεί αντίθετη προς το νόμο και ως εκ τούτου άκυρη ή ακυρώσιμη, παύει αυτοδικαίως να ισχύει, χωρίς σε καμία περίπτωση να θίγεται η ισχύς των λοιπών όρων. Καμία τροποποίηση των όρων της συγκεκριμένης σύμβασης δε θα λαμβάνεται υπόψη και δε θα αποτελεί τμήμα αυτής, εάν δεν έχει διατυπωθεί εγγράφως και δεν έχει ενσωματωθεί σε αυτή. Αρμόδια δικαστήρια για τυχόν αναφυόμενες διαφορές εξ αφορμής της εν λόγω σύμβασης είναι τα Δικαστήρια Αθηνών.
      </h5><br><br>
    </div>

  {% endblock %}

  {% block scripts %}

  {% endblock %}

  {% block footer %}
    {% include 'sifnaios/footer.html' %}
  {% endblock %}
