{% load static %}

<!doctype html>
<html lang="en">

<head>
  {% block title %}

  {% endblock %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <!-- Animate.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <!-- AOS Animation -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- Personal Style -->
  <link rel="stylesheet" href="{% static 'sifnaios/css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'sifnaios/css/sidebar.css' %}">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
  <!-- lightbox -->
  <link rel="stylesheet" href="{% static 'sifnaios/css/lightbox.min.css' %}">

  <link rel="stylesheet" href="{% static 'sifnaios/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'sifnaios/css/slick-theme.css' %}">
  {% block links %}

  {% endblock %}
</head>
<!--Style configurations in body & main to keep footer always at the bottom-->

<body style="display:flex; min-height:100vh; flex-direction:column;">
  <main style="flex:1;">
    {% block body %}

    {% endblock %}

    {% include 'sifnaios/sidebar.html' %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- AOS Animation -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        once: true,
      });
    </script>

    <!--Sidebars Animation-->
    <script type="text/javascript" src="{% static 'sifnaios/js/sidebar.js' %}"></script>

    <script src="{% static 'sifnaios/js/lightbox.min.js' %}" charset="utf-8"></script>

    <script>
      lightbox.option({
        'resizeDuration': 0,
        'wrapAround': true
      })
    </script>

    {% block scripts %}

    {% endblock %}
  </main>
  {% block footer %}

  {% endblock %}
</body>

</html>
