{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Επικοινωνία</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
<link rel="stylesheet" href="{% static 'sifnaios/css/contact.css' %}">
{% endblock %}

{% block body %}

<div class="">
  <img style="height:100vh; min-width:100vw; z-index:-1; position:fixed; top:0;" src="{% static 'sifnaios/material/cont.jpg' %}" alt="">
</div>

<div style="min-height:100vh;">
  {% include 'sifnaios/secondaryNavigationBar.html' %}



  <div style="margin-top:8vh; margin-bottom:10vh;" class="container">
    <div class="row">

      <div class="col text-center d-none d-xl-block">
        <h2 style="margin-bottom:50px !important;" class="mx-auto">Έδρα εταιρείας</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.8099610459694!2d23.71385361532357!3d37.981564079722304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1a3659e2b7135%3A0x955acb69f8ed73f6!2sSIFNAIOS+ANTONIOS!5e0!3m2!1sen!2sgr!4v1543870600756"
          width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-12 text-center d-xl-none">
        <h2 style="margin-top:0px; margin-bottom:32px;" class="mx-auto">Έδρα εταιρείας</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.8099610459694!2d23.71385361532357!3d37.981564079722304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1a3659e2b7135%3A0x955acb69f8ed73f6!2sSIFNAIOS+ANTONIOS!5e0!3m2!1sen!2sgr!4v1543870600756"
          width="90%" height="350" frameborder="0" style="border:0; margin-bottom:10vh;" allowfullscreen></iframe>
      </div>

      <div class="col">
        <div style="display:flex; flex-direction:column;">
          <div class="text-center">
            <h2 style="margin-bottom:32px;">Επικοινωνήστε μαζί μας</h2>
          </div>
          <form style="margin:auto; width:90%;">
            <div class=" form-group">
              <label for="exampleInputEmail1">Όνομα :</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Επώνυμο :</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email :</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Μήνυμα :</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" placeholder="Γράψτε το μήνυμά σας εδώ..."></textarea>
            </div>
            <button style="width:200px; margin-bottom:32px; box-shadow:3px 3px 4px grey;" type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>


{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
{% include 'sifnaios/footer.html' %}
{% endblock %}
