{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Τραπέζια</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
<link rel="stylesheet" href="{% static 'sifnaios/css/equipment.css' %}">
{% endblock %}

{% block body %}
{% include 'sifnaios/secondaryNavigationBar.html' %}

<div id="menu" style="overflow-x:auto; background:#6c757d; max-width:100%;" class="text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button id="chairs" type="button" class="btn btn-secondary">Καθίσματα</button>
    <button id="tables" type="button" class="btn btn-secondary">Τραπέζια</button>
    <button id="benches" type="button" class="btn btn-secondary">Πάγκοι</button>
    <button id="workBenches" type="button" class="btn btn-secondary">Πάγκοι Εργασίας</button>
    <!--
    <button id="specialConstructions" type="button" class="btn btn-secondary">Ειδικές Κατασκευές</button>
    -->
  </div>
</div>



<div id="chairsDiv">
  <div id="labels" class="container text-center">
    <h2>Καρέκλες</h2>
    <hr>
  </div>

  <div style="padding:0; padding-bottom:10vh; overflow-x:hidden;" class="container text-center">
    {% for chair in chairs %}
    <div class="card">
      <div style="overflow:hidden;">
        <a data-lightbox="{{chair.name}}" href="{{chair.image.url}}"> <img style="max-width:300px;" src="{{chair.image.url}}" alt=""> </a>
      </div>
      <div class="card-body">
        <h5>{{chair.name}}</h5>
        <hr>
        <p style="min-height:150px; max-height:150px; overflow:auto;" class="card-text text-left">{{chair.description}}</p>
        <div class="card-footer text-muted">
          Διαστάσεις: {{chair.dimensions}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div id="labels" class="container text-center">
    <h2>Kαθίσματα Μπαρ</h2>
    <hr>
  </div>

  <div style="padding:0; padding-bottom:10vh; overflow-x:hidden;" class="container text-center">
    {% for barstool in barstools %}
    <div class="card">
      <div style="overflow:hidden;">
        <a data-lightbox="{{barstool.name}}" href="{{barstool.image.url}}"> <img style="max-width:300px;" src="{{barstool.image.url}}" alt=""> </a>
      </div>
      <div class="card-body">
        <h5>{{barstool.name}}</h5>
        <hr>
        <p style="min-height:150px; max-height:150px; overflow:auto;" class="card-text text-left">{{barstool.description}}</p>
        <div class="card-footer text-muted">
          Διαστάσεις: {{barstool.dimensions}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<div style="display:none;" id="tablesDiv">
  <div id="labels" class="container text-center">
    <h2>Τραπέζια</h2>
    <hr>
  </div>

  <div style="padding:0; padding-bottom:10vh; overflow-x:hidden;" class="container text-center">
    {% for table in tables %}
    <div class="card" style="">
      <a data-lightbox="tables_lightbox" href="{{table.image.url}}"> <img style="max-width:330px;" src="{{table.image.url}}" alt=""> </a>
      <div class="card-body">
        <h5 class="card-title">Τραπέζι {{table.id}}</h5>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div style="display:none;" id="benchesDiv">
  <div id="labels" class="container text-center">
    <h2>Πάγκοι</h2>
    <hr>

    <div style="color:black !important; padding-top:2vh;" class="container text-center">
      <h5 class="d-none d-md-block" style="max-width:80vw;">
        Όλα τα χειροποίητα έπιπλα κατασκευάζονται βάση αυστηρών προδιαγραφών δίνοντας έμφαση
        στην στιβαρότητα και την αντοχή σε όποια διάσταση επιθυμείτε στις καλύτερες τιμές τις αγοράς,
        καλέστε μας για οποιαδήποτε απορία, η κλείστε ραντεβού και ένας από τους πωλητές μας θα σας επισκεφτεί άμεσα.
      </h5>
      <hr class="d-none d-md-block">
      <h6 class="d-md-none" style="margin:auto; max-width:95%; font-size:15px;">
        Όλα τα χειροποίητα έπιπλα κατασκευάζονται βάση αυστηρών προδιαγραφών δίνοντας έμφαση
        στην στιβαρότητα και την αντοχή σε όποια διάσταση επιθυμείτε στις καλύτερες τιμές τις αγοράς,
        καλέστε μας για οποιαδήποτε απορία, η κλείστε ραντεβού και ένας από τους πωλητές μας θα σας επισκεφτεί άμεσα.
      </h6>
      <hr class="d-md-none">
    </div>

  </div>
</div>

<div style="display:none;" id="workBenchesDiv">

  <div id="labels" class="container text-center">
    <h2>Πάγκοι Εργασίας</h2>
    <hr>

    <div style="color:black !important; padding-top:2vh;" class="container text-center">
      <h5 class="d-none d-md-block" style="max-width:80vw;">
        Προσαρμόζουμε και κατασκευάζουμε πάγκους εργασίας στις διαστάσεις που επιθυμείτε σύμφωνα πάντα με τις προδιαγραφές του ΟΠΑΠ  REX 2020.
      </h5>
      <hr class="d-none d-md-block">
      <h6 class="d-md-none" style="margin:auto; max-width:95%; font-size:15px;">
        Προσαρμόζουμε και κατασκευάζουμε πάγκους εργασίας στις διαστάσεις που επιθυμείτε σύμφωνα πάντα με τις προδιαγραφές του ΟΠΑΠ  REX 2020.
      </h6>
      <hr class="d-md-none">
    </div>

  </div>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

    <div style="max-height:85vh;" class="carousel-inner">
      <div class="carousel-item active">
        <img style="max-height:85vh;" src="{% static 'sifnaios/material/wb2.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img style="max-height:85vh;" src="{% static 'sifnaios/material/wb5.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>


</div>

<div style="display:none;" id="specialConstructionsDiv">
  <div id="labels" class="container text-center">
    <h2>Ειδικές Κατασκευές</h2>
    <hr>
  </div>
</div>



{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {

    $('#chairs').click(function() {
      $('#tablesDiv,#benchesDiv,#workBenchesDiv,#specialConstructionsDiv').hide();
      $('#chairsDiv').fadeIn(600);
    });

    $('#tables').click(function() {
      $('#chairsDiv,#benchesDiv,#workBenchesDiv,#specialConstructionsDiv').hide();
      $('#tablesDiv').fadeIn(600);
    });

    $('#benches').click(function() {
      $('#chairsDiv,#tablesDiv,#workBenchesDiv,#specialConstructionsDiv').hide();
      $('#benchesDiv').fadeIn(600);
    });

    $('#workBenches').click(function() {
      $('#chairsDiv,#benchesDiv,#tablesDiv,#specialConstructionsDiv').hide();
      $('#workBenchesDiv').fadeIn(600);
    });

    $('#specialConstructions').click(function() {
      $('#chairsDiv,#benchesDiv,#workBenchesDiv,#tablesDiv').hide();
      $('#specialConstructionsDiv').fadeIn(600);
    });

    $(window).scroll(function() {
      if ($(window).scrollTop() > $("nav").height()) {
        $('#menu').css({
          'position': 'fixed',
          'top': '0',
          'width': '100vw',
          'z-index': '100'
        });
      } else {
        $('#menu').css({
          'position': 'relative',
          'z-index': '0'
        });
      }
    });

  });
</script>
{% endblock %}


{% block footer %}
{% include 'sifnaios/footer.html' %}
{% endblock %}
