{% load static %}

<!--FOOTER-->
<div id="footer" class="container-fluid">
  <div style="padding-top:25px;" class="row text-center">

    <div style="margin:25px 0px 25px 0px;" class="col-sm-12 col-md-12 col-lg-4">
      <div style="max-width:270px;" class="mx-auto">
        <ul style="color:black; list-style-type: none; padding:0;" class="text-left">
          <li style="color:black;"><i class="fas fa-phone"></i> 2103453149</li>
          <hr >
          <li style="color:black;"><i class="fas fa-mobile-alt"></i> +30 6972512212</li>
          <hr >
          <li style="color:black;"><i class="far fa-envelope"></i> contact@sifnaios.gr</li>
          <hr >
          <li style="color:black;"><i class="far fa-clock"></i> Καθημερινές 08:30 - 16:30</li>
        </ul>
      </div>
    </div>

    <div style="margin:25px 0px 25px 0px;" class="col-sm-12 col-md-12 col-lg-4">
      <img style="width:100%; max-width:280px;" src="{% static 'sifnaios/material/sslogo2.png' %}" alt="">
    </div>

    <div style="margin:25px 0px 25px 0px;" class="col-sm-12 col-md-12 col-lg-4">
      <h5 style="font-family: 'Jura', sans-serif;">Follow us on</h5>
      <a href="https://www.facebook.com/sifnaios.services/" target="_blank">
        <i style="color:#3b5998;" class="fab fa-facebook-f fa-2x"></i>
      </a>
      <div id="payInfo" onclick="window.location = '{% url 'payInfo' %}' " style="margin:30px 0px 5px 0px; cursor:pointer;">
        <hr>
        <img src="{% static 'sifnaios/material/peiraiws.png' %}" alt="">
        <img style="margin-left:25px;" src="{% static 'sifnaios/material/eurobank.png' %}" alt="">
        <p>Μεταβείτε στις πληροφορίες πληρωμών</p>
      </div>
    </div>
  </div>
  <hr style="margin:0;">
  <div class="row">
    <div class="col-12 text-center">
      <h6 style="margin:0; padding:5px;">2018 Copyright <i class="far fa-copyright"></i> Sifnaios Services</h6>
    </div>
  </div>
</div>
