{% load static %}

<div style="display:flex; color:white !important; font-family: 'Jura', sans-serif;" class="d-md-none">
  <div style="margin:auto; max-width:100vw; overflow-x:auto;" class="btn-group">
    <a style="border-radius:0 !important;" class="btn btn-dark"><img style="height:16px;" src="{% static 'sifnaios/material/swiperight.png' %}" alt=""></a>
    <a class="btn btn-dark">LG</a>
    <a class="btn btn-dark">Τηλεχειρισμός</a>
    <a class="btn btn-dark" onclick="window.location = '{% url 'TVSignal' %}' ">Διανομή Σήματος TV</a>
    <a class="btn btn-dark">Καμπίνες Rack</a>
    <a class="btn btn-dark">UPS</a>
    <a class="btn btn-dark">CCTV</a>
    <a class="btn btn-dark">Συστήματα Συναγερμού</a>
    <a class="btn btn-dark">Κεραιοσυστήματα</a>
    <a class="btn btn-dark">Βάσεις Τηλεοράσεων & Videowall</a>
    <a class="btn btn-dark">PC ( Ηλεκτρονικοί Υπολογιστές )</a>
    <a class="btn btn-dark">Video Player PC</a>
    <a class="btn btn-dark">Matrix</a>
    <a class="btn btn-dark">Ήχος</a>
    <a style="border-radius:0 !important;" class="btn btn-dark"><img style="height:16px;" src="{% static 'sifnaios/material/swipeleft.png' %}" alt=""></a>
  </div>
</div>
