{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Αρχική</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/index.css' %}">
<link rel="stylesheet" href="{% static 'sifnaios/css/indexNavigationBar.css' %}">
<link href="https://fonts.googleapis.com/css?family=Alegreya+SC" rel="stylesheet">
{% endblock %}

{% block body %}
{% include 'sifnaios/indexNavigationBar.html' %}

<div style="padding-top:2vh; padding-bottom:4vh; margin-bottom:12px; display:flex; flex-direction:column;">
  <div style="color:black !important; " class="container text-center">
    <img class="mx-auto" style="margin-top:2vh; max-width: 300px; height: auto; display:block;" src="{% static 'sifnaios/material/sslogo2.png' %}" alt="">
    <hr>
    <h5 class="d-none d-md-block" style="max-width:80vw; margin-top:3vh;">
      Εδώ και <span style="font-weight:bold; color:#3ab9ff;">22</span> χρόνια η εταιρεία μας δραστηριοποιείται στο τομέα της κατασκευής πρακτορείων ΟΠΑΠ στην Αθήνα
      αλλά και στην υπόλοιπη Ελλάδα. Η εμπειρία μας στο χώρο των κατασκευών μας δίνει τη δυνατότητα να υλοποιούμε
      τα έργα μας σε πολύ σύντομο χρονικό διάστημα με έμφαση στην ποιότητα κατασκευής και το αισθητικό αποτέλεσμα.
    </h5>
    <h6 class="d-md-none" style="margin:auto; max-width:95%; margin-top:3vh; font-size:15px;">
      Εδώ και <span style="font-weight:bold; color:#3ab9ff;">22</span> χρόνια η εταιρεία μας δραστηριοποιείται στο τομέα της κατασκευής πρακτορείων ΟΠΑΠ στην Αθήνα
      αλλά και στην υπόλοιπη Ελλάδα. Η εμπειρία μας στο χώρο των κατασκευών μας δίνει τη δυνατότητα να υλοποιούμε
      τα έργα μας σε πολύ σύντομο χρονικό διάστημα με έμφαση στην ποιότητα κατασκευής και το αισθητικό αποτέλεσμα.
    </h6>
    <hr class="d-md-none">
  </div>

  <img style="max-width:67%; max-height: auto; box-shadow: 2px 2px 4px grey; margin-top:2vh;" src="{% static 'sifnaios/material/opap_sketch.gif' %}" alt="" class="d-none d-lg-block mx-auto">

  <img style="max-width:100%; max-height: auto; box-shadow: 3px 3px 3px grey; margin-top:2vh;" src="{% static 'sifnaios/material/opap_sketch.gif' %}" alt="" class="d-lg-none mx-auto">



</div>

<div id="worksWrapper">
  <div id="worksInner">
    <div style="overflow-x:hidden;" class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h3 class="d-none d-lg-block">Μερικά από τα πρόσφατα έργα μας</h3>
        <h4 class="d-lg-none">Μερικά από τα πρόσφατα έργα μας</h4>
        <!--
        <img class="d-none d-md-inline-block" style="max-width:600px; border-radius:5px; box-shadow:0px 0px 4px grey; padding-top:25px; background:white;" src="{% static 'sifnaios/material/keno2.gif' %}" alt="">
        <img class="d-md-none" style="max-width:100%; border-radius:5px; box-shadow:0px 0px 4px grey;" src="{% static 'sifnaios/material/keno2.gif' %}" alt="">
        -->
      </div>
    </div>

    <div id="works" class="container text-center">

      <div data-aos="fade-right" data-aos-duration="600" class="card" style="">
        <div class="work">
          <a data-lightbox="coGallery" href="{% static 'sifnaios/material/lios13.jpg' %}"> <img src="{% static 'sifnaios/material/lios13.jpg' %}" alt=""> </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Άνω λιόσια</h5>
        </div>
      </div>

      <div data-aos="fade-down" data-aos-duration="600" class="card" style="">
        <div class="work">
          <a data-lightbox="coGallery" href="{% static 'sifnaios/material/lios5.jpg' %}"> <img src="{% static 'sifnaios/material/lios5.jpg' %}" alt=""> </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Καλλιθέα</h5>
        </div>
      </div>

      <div data-aos="fade-left" data-aos-duration="600" class="card" style="">
        <div class="work">
          <a data-lightbox="coGallery" href="{% static 'sifnaios/material/lios14.jpg' %}"> <img src="{% static 'sifnaios/material/lios14.jpg' %}" alt=""> </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Κυψέλη</h5>
        </div>
      </div>

      <div data-aos="fade-right" data-aos-duration="600" class="card" style="">
        <div class="work">
          <a data-lightbox="coGallery" href="{% static 'sifnaios/material/lios3.jpg' %}"> <img src="{% static 'sifnaios/material/lios3.jpg' %}" alt=""> </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Γέρακας</h5>
        </div>
      </div>

      <div data-aos="fade-up" data-aos-duration="600" class="card" style="">
        <div class="work">
          <a data-lightbox="coGallery" href="{% static 'sifnaios/material/videowall.jpg' %}"> <img src="{% static 'sifnaios/material/videowall.jpg' %}" alt=""> </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Πετρούπολη</h5>
        </div>
      </div>

      <div data-aos="fade-left" data-aos-duration="600" class="card" style="">
        <div class="work">
          <a data-lightbox="coGallery" href="{% static 'sifnaios/material/lios2.jpg' %}"> <img src="{% static 'sifnaios/material/lios2.jpg' %}" alt=""> </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Πύργος</h5>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Video for index page -->
<!--
<div style="display:flex;" class="container embed-responsive embed-responsive-4by3">
  <video style="" id="vid" src="{% static 'sifnaios/material/build.mp4' %}" autoplay loop muted></video>
  <i id="volumeOff" style="cursor:pointer; color: #C0392B; padding: 10%; margin:auto; z-index:20;" class="fas fa-volume-off fa-3x"></i>
  <i id="volumeUp" style="cursor:pointer; color:#2ECC71; padding: 10%; margin:auto; z-index:20; display:none;" class="fas fa-volume-up fa-3x"></i>
</div>
-->


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'sifnaios/js/indexButtons.js' %}">

</script>
{% endblock %}

{% block footer %}
{% include 'sifnaios/footer.html' %}
{% endblock %}
