{% load static %}

  <!-- Secondary Navbar -->
  <nav id="secondaryNavigationBar" class="navbar navbar-expand-xl">
    <!-- Navbar Brand -->
    <a class="navbar-brand mx-auto" onclick="window.location = '{% url 'index' %}' ">
            <img style="width:320px; height:auto;" src="{% static 'sifnaios/material/sslogo2.png' %}" alt="Sifnaios Servises">
          </a>
    <!-- Collapse Button -->
    <div class="col-12 d-xl-none text-center">
      <button id="openSidebar" class="d-xl-none mx-auto">
            <h6 style="margin:0; font-size:14px;">Menu</h6>
            <i class="fas fa-bars fa-2x"></i>
          </button>
    </div>
    <!-- Collapsable Links -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <div style="height:36px;" class=""></div>
          <a class="nav-link" href="{% url 'index' %}">ΑΡΧΙΚΗ</a>
        </li>
        <li class="nav-item dropdown ">
          <div style="height:36px;" class=""></div>
          <a class="nav-link dropdown-toggle drop-link"  id="navbardrop" data-toggle="dropdown">
            ΕΤΑΙΡΕΙΑ
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'Profile' %}">Εταιρικό προφίλ</a>
            <a class="dropdown-item" href="{% url 'payInfo' %}">Πληροφορίες πληρωμών</a>
            <!--<a class="dropdown-item" href="{% url 'offers' %}">Προσφορές</a>-->
            <a class="dropdown-item" href="{% url 'TermsOfUse' %}">Όροι Χρήσης</a>
          </div>
        </li>
        <li class="nav-item ">
          <div style="height:36px;" class=""></div>
          <a class="nav-link" href="{% url 'Contact' %}">ΕΠΙΚΟΙΝΩΝΙΑ</a>
        </li>
        <li style="cursor:auto !important;" class="nav-item">
          <div style="height:36px;" class=""></div>
          <a  class="nav-link d-none d-xl-flex">|</a>
        </li>
        <li class="nav-item ">
          <div style="height:36px;" class=""></div>
          <a class="nav-link" href="{% url 'Services' %}">ΥΠΗΡΕΣΙΕΣ</a>
        </li>
        <li class="nav-item dropdown ">
          <div style="height:36px;" class=""></div>
          <a class="nav-link dropdown-toggle drop-link"  id="navbardrop" data-toggle="dropdown">
            ΠΡΟΪΟΝΤΑ ΤΕΧΝΟΛΟΓΙΑΣ
          </a>
          <div style="height:36px;" class=""></div>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'LGproducts' %}">LG <i style="color:silver;" id="LGTV" class="fas fa-tv fa-2x"></i></a>
            <a class="dropdown-item" href="{% url 'TVSignal' %}">Διανομή Σήματος TV</a>
            <a class="dropdown-item" href="{% url 'RackCabins' %}">Καμπίνες Rack</a>
            <a class="dropdown-item" href="{% url 'cctv' %}">CCTV</a>
            <a class="dropdown-item" href="{% url 'AlarmSystems' %}">Συστήματα Συναγερμού</a>
            <a class="dropdown-item" href="{% url 'Antenas' %}">Κεραιοσυστήματα</a>
            <!--
            <a class="dropdown-item" href="{% url 'VideowallTVBases' %}">Βάσεις Τηλεοράσεων & Videowall</a>
            <a class="dropdown-item" href="{% url 'Matrix' %}">Matrix</a>
            -->
          </div>
        </li>
        <li class="nav-item ">
          <div style="height:36px;" class=""></div>
          <a class="nav-link" href="{% url 'Equipment' %}">ΕΞΟΠΛΙΣΜΟΣ</a>
        </li>
      </ul>
    </div>
  </nav>
