{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Κατασκευές</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
<link rel="stylesheet" href="{% static 'sifnaios/css/Services.css' %}">

{% endblock %}

{% block body %}


{% include 'sifnaios/secondaryNavigationBar.html' %}

<div style="margin:0vh 0vh 10vh 0vh;
      background-image: url({% static 'sifnaios/material/services.jpeg' %});
      background-position: center;
      background-size: cover; color:white; box-shadow: 0px 0px 6px silver;" class="text-center">
  <h1 class="d-none d-md-block" style="color:#042e43;  padding:45px 0px 45px 0px; background:rgba(0,0,0,0);">Κατασκευές - Ανακαινίσεις <br> REX 2020</h1>
  <h1 class="d-md-none" style="color:#042e43; font-size:32px;  padding:45px 0px 45px 0px; background:rgba(0,0,0,0);">Κατασκευές Ανακαινίσεις <br> REX 2020</h1>
</div>

<div style="" class=" jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="d-none d-md-inline" >Αρχιτεκτονικός Σχεδιασμός - 3D απεικόνιση</h3>
    <h4 class="d-inline d-md-none" >Αρχιτεκτονικός Σχεδιασμός <br> 3D απεικόνιση</h4>
    <img data-aos="fade-left" style="height:45px;" src="{% static 'sifnaios/material/check.png' %}" alt="">
    <hr>
  </div>
</div>
</div>

<div style="" class="">
  <div class="car-lg container d-none d-xl-block">
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/d01.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/d02.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/d1.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/dc1.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/d2.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/dc2.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/d5.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/d10.jpg' %}" alt=""> </div>
  </div>


  <div class="car-sm container d-xl-none">
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/d01.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/d02.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/d1.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/dc1.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/d2.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/dc2.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/d5.jpg' %}" alt=""> </div>
    <div> <img class="mx-auto" style="max-width:340px; max-height:200px;" src="{% static 'sifnaios/material/d10.jpg' %}" alt=""> </div>
  </div>

</div>

<div id="steps" style="padding:0 !important; margin-top:5vh;" class="">

  <div style="overflow-x:hidden; padding:0 !important;" class="container text-center">

    <div data-aos="fade-right" style="width:340px;" class="card mx-auto">
      <div class="card-body">
        <h3>Μηχανολογική <br> Μελέτη</h3>
        <img style="height:45px;" src="{% static 'sifnaios/material/check.png' %}" alt="">
        <hr>
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#files2" aria-expanded="false" aria-controls="files2">
          Απαραίτητα έγγραφα
        </button>
        <div class="collapse text-left" id="files2">
          <ul>
            <li>Εξουσιοδότηση προς τον Μηχανικό</li>
            <li>Δήλωση ανάθεσης ανάληψης</li>
          </ul>
        </div>
      </div>
    </div>


    <div data-aos="fade-up" style="width:340px;" class="card mx-auto">
      <div class="card-body">
        <h3>Άδεια <br> Εργασιών</h3>
        <img style="height:45px;" src="{% static 'sifnaios/material/check.png' %}" alt="">
        <hr>
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#files3" aria-expanded="false" aria-controls="files3">
          Απαραίτητα έγγραφα
        </button>
        <div class="collapse text-left" id="files3">
          <ul>
            <li>Εξουσιοδότηση προς τον Μηχανικό</li>
            <li>Μισθωτήριο συμβόλαιο</li>
          </ul>
        </div>
      </div>
    </div>


    <div data-aos="fade-left" style="width:340px;" class="card mx-auto">
      <div class="card-body">
        <h3>Πιστοποιητικό δικτύου DATA</h3>
        <img style="height:45px;" src="{% static 'sifnaios/material/check.png' %}" alt="">
        <hr>
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#files4" aria-expanded="false" aria-controls="files4">
          Απαραίτητα έγγραφα
        </button>
        <div class="collapse text-center" id="files4">
          <p>Δεν απαιτούνται</p>
        </div>
      </div>
    </div>


    <div data-aos="fade-right" style="width:340px;" class="card mx-auto">
      <div class="card-body">
        <h3>Πιστοποιητικό <br> Πυροπροστασίας</h3>
        <img style="height:45px;" src="{% static 'sifnaios/material/check.png' %}" alt="">
        <hr>
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#files5" aria-expanded="false" aria-controls="files5">
          Απαραίτητα έγγραφα
        </button>
        <div class="collapse text-left" id="files5">
          <ul>
            <li>Εξουσιοδότηση προς τον Μηχανικό</li>
            <li>Υ. Δ. Ιδιοκτήτη για εγκατάσταση μέτρων πυρασφάλειας</li>
            <li>Υ.Δ. της επιχείρησης που ανέλαβε την αναγόμωση ή τη προμήθεια των πυροσβεστήρων</li>
            <li>Τιμολόγιο αγοράς ή αναγόμωσης των πυροσβεστήρων</li>
            <li>Μισθωτήριο συμβόλαιο</li>
          </ul>
        </div>
      </div>
    </div>


    <div data-aos="fade-left" style="width:340px;" class="card mx-auto">
      <div class="card-body">
        <h3>Πιστοποιητικό Ηλεκτρολόγου Υ.Δ.Ε</h3>
        <img style="height:45px;" src="{% static 'sifnaios/material/check.png' %}" alt="">
        <hr>
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#files6" aria-expanded="false" aria-controls="files6">
          Απαραίτητα έγγραφα
        </button>
        <div class="collapse text-left" id="files6">
          <ul>
            <li>Αριθμός παροχής</li>
            <li>Ονοματεπώνυμο νέου ιδιοκτήτη</li>
            <li>Διεύθυνση</li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</div>


<!--
<div class="text-center">
  <h1 style="margin-top:12vh;">Υλοποίηση Πρακτορείου</h1>
</div>


<div style="display:flex;" class="container embed-responsive embed-responsive-4by3">
  <video id="vid" src="{% static 'sifnaios/material/build.mp4' %}" autoplay loop muted></video>
  <i id="volumeOff" style="cursor:pointer; color: #C0392B; padding: 10%; margin:auto; z-index:20;" class="fas fa-volume-off fa-3x"></i>
  <i id="volumeUp" style="cursor:pointer; color:#2ECC71; padding: 10%; margin:auto; z-index:20; display:none;" class="fas fa-volume-up fa-3x"></i>
</div>
-->

{% endblock %}

{% block scripts %}
<!-- Volume up - Volume Down Video -->
<script type="text/javascript">
  $(document).ready(function() {
    $("#volumeUp").hide();
    $("#volumeUp,#volumeOff").click(function() {
      if ($("video").prop('muted')) {
        $("video").prop('muted', false);
        $("#volumeUp").fadeIn(1000);
        $("#volumeOff").hide();
      } else {
        $("video").prop('muted', true);
        $("#volumeUp").hide();
        $("#volumeOff").fadeIn(1000);
      }
    });
  });
</script>

<script type="text/javascript" src="{% static 'sifnaios/js/slick.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.car-lg').slick({
      dots: true,
      /* Just changed this to get the bottom dots navigation */
      infinite: true,
      speed: 1800,
      slidesToShow: 3,
      slidesToScroll: 2,
      arrows: true,
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('.car-sm').slick({

      dots: true,
      /* Just changed this to get the bottom dots navigation */
      infinite: true,
      speed: 1200,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,

    });
  });
</script>

<script>
  AOS.init({
    duration: 600
  });
</script>
{% endblock %}

{% block footer %}
{% include 'sifnaios/footer.html' %}
{% endblock %}
