{% load static %}
  <!-- SIDEBAR -->

  <div id="sidebarWrapper" style="position:fixed; top:0; z-index:120; display:none; height:100vh; width:100%; background:rgba(0,0,0,0.5)">

  </div>

  <div id="sidebar">
    <button style="position:absolute; left:5px; display:none;" id="closeSidebar">
      <h6 style="margin:0;">Close</h6>
      <i  style="display:inline;" class="fas fa-times fa-2x"></i>
      </button>
    <ul class="text-center" id="sidebarLinks">
      <a href = "{% url 'index' %}" ><li><h4>Αρχική</h4></li><hr></a>
      <a><li id="profile"><h4>Εταιρεία</h4><i  class="fas fa-ellipsis-v"></i></li><hr></a>
      <a href = "{% url 'Contact' %}" ><li id="contact"><h4>Επικοινωνία</h4></li><hr></a>
      <a href = "{% url 'Services' %}" ><li id="constructions"><h4>Υπηρεσίες</h4> </li><hr></a>
      <a><li id="technology"><h4>Προϊόντα </h4> <br> <h4>Τεχνολογίας</h4><i  class="fas fa-ellipsis-v"></i></li><hr></a>
      <a href = "{% url 'Equipment' %}" ><li><h4>Εξοπλισμός</h4></li><hr></a>
    </ul>
  </div>

  <div id="secondarySidebar">
      <button style="position:absolute; left:5px; display:none;" id="ulAClose">
        <h6 style="margin:0;">menu</h6>
        <i  style="display:inline;" class="fas fa-long-arrow-alt-left fa-2x"></i>
        </button>
      <button style="position:absolute; left:5px; display:none;" id="ulCClose">
        <h6 style="margin:0;">menu</h6>
        <i  style="display:inline;" class="fas fa-long-arrow-alt-left fa-2x"></i>
        </button>


      <ul id="ulA" class="text-center">
          <h2 class="text-center">Εταιρεία</h2> <hr>
        <a href = "{% url 'Profile' %}" ><li> <h4>Εταιρικό προφίλ</h4> </li><hr></a>
        <a href = "{% url 'payInfo' %}" ><li> <h4>Πληροφορίες πληρωμών</h4> </li><hr></a>
        <!--<a href = "{% url 'offers' %}" ><li> <h4>Προσφορές</h4> </li><hr></a>-->
        <a href = "{% url 'TermsOfUse' %}" ><li> <h4>Όροι Χρήσης</h4> </li><hr></a>
      </ul>
      <ul id="ulC" class="text-center">
        <h2 class="text-center">Προϊόντα Τεχνολογίας</h2> <hr>
        <a href = "{% url 'LGproducts' %}" ><li><h4>LG</h4><i style="color:black;" id="LGTV" class="fas fa-tv fa-2x"></i></li></a><hr>
        <a href = "{% url 'TVSignal' %}" ><li><h4>Διανομή Σήματος TV</h4></li></a> <hr>
        <a href = "{% url 'RackCabins' %}" ><li><h4>Καμπίνες Rack</h4></li></a> <hr>
        <a href = "{% url 'cctv' %}" ><li><h4>CCTV</h4></li></a> <hr>
        <a href = "{% url 'AlarmSystems' %}" ><li><h4>Συστήματα</h4><br><h4>Συναγερμού</h4></li></a> <hr>
        <a href = "{% url 'Antenas' %}" ><li><h4>Κεραιοσυστήματα</h4></li></a> <hr>
        <!--
        <a href = "{% url 'VideowallTVBases' %}" ><li><h4>Βάσεις</h4><br><h4>Τηλεοράσεων</h4><br><h4>& Videowall</h4></li></a> <hr>
        <a href = "{% url 'Matrix' %}" ><li><h4>Matrix</h4></li></a>
        -->
      </ul>


  </div>

<!-- Fixed Menu Button
<button style="display:none;" id="smNavbarBtn" class="d-xl-none">
        <h6 style="margin:0;">Menu</h6>
        <i  style="margin:0; display:inline;" class="fas fa-bars fa-2x"></i>
      </button>-->

<!--GO TO TOP BUTTON-->
<button id="goTop" style="display:none; " id="goTop">
      <img style="height:30px; width:auto;" src="{% static 'sifnaios/material/up-arrow.png' %}" alt="">
    </button>
