body {
  font-family: 'Jura', sans-serif;
}

#alarmIntro {
  margin-top: 0vh;
  background-image: url('../material/alarmsystem.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

.jumbotron {
  color: black;
  background: white;
  margin-bottom: 0;
}

.card{
  box-shadow: 3px 3px 2px silver;
  margin: 0px 10px 0px 10px;
}
