body{
  font-family: 'Jura', sans-serif;
  background: #fdfefe;
}

nav{
  box-shadow: 2px 2px 3px black !important;
}

#footer{
  box-shadow: 0px 0px 4px black !important;
}

h2 , label {
  color:black;
}

input , textarea{
  background: transparent !important;
  color:black !important;
  box-shadow: 2px 2px 3px black;
}

iframe{
  box-shadow: 0px 0px 2px black;
}

a{
  text-decoration: none !important;
}

.container{
  min-width:90vw;
}
