.wrapper {
  background-image: url('../material/12251.jpg');
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 750px) {
  .wrapper {
    background-image: url('../material/12252.jpg');
    background-position: center;
    background-size: cover;
  }
}

@media only screen and (max-width: 500px) {
  .navbar-brand img {
    width: 280px !important;
    height: auto !important;
  }
}

nav {
  position: relative;
  top: 0;
  z-index: 100;
  font-size: 100%;
  background: rgba(0,0,0,0.6);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-shadow: 1px 1px 3px black !important;

  /*background: linear-gradient(135deg,  rgba(1,26,39,0.95) , rgba(6,56,82,0.95) , rgba(5,71,105,0.95) );*/
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-brand {
  cursor: pointer;
}

nav ul li {
  font-family: 'Jura', sans-serif;
  cursor: pointer;
  color: white;
}

.dropdown-menu {
  background: rgba(248,249,249,0.9) !important;
  margin-top: 0px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

a {
  color: white !important;
}

.dropdown-menu a{
  color: black !important;
}

.dropdown-item:hover {
  background: rgba(248,249,249,0.6) !important;
  border-radius: 0px;
}

.nav-link {
  text-shadow: 2px 2px 4px black;
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  /* ^- the important bit. RGB 192,192,192 is the same as #C0C0C0*/
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}

.drop-link {
  border-bottom: none !important;
}

.nav-link:hover {
  border-bottom: 1px solid silver;
}

#scrollDownAnimation {
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

#openSidebar {
  background: rgba(0, 0, 0, 0);
  color: #d6eaf8 !important;
  border-color: silver !important;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100% !important;
}

#LGTV {
  animation-name: LGTVanim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes LGTVanim {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}
