body {
  font-family: 'Jura', sans-serif;

}

ul{
  padding: 0px 0px 0px 5px;
}

.card{
  display:inline-flex;
  margin: 12px 10px 12px 10px !important;
}

.card-body{
  min-width: 100%;
}

#files1 li , #files2 li , #files3 li , #files4 li , #files5 li , #files6 li   {
  color: black;
}

#files1 , #files2 , #files3 , #files4 , #files5 , #files6   {
  margin-top:10px;
}

.col{
  padding: 5px !important;
}

#files2 .card , #files3 .card , #files4 .card , #files5 .card , #files6 .card {
  background: transparent;
}


#steps{
  background: url('../material/hanpe2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 0px 10px grey;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items:center;
}

.slick-prev:before, .slick-next:before{
    color:black;
}

.car-lg{
  padding: 10vh 0vh 10vh 0vh;
  margin-bottom: 0 !important;
}

.car-lg img{
  box-shadow: 3px 3px 4px grey;
}

.car-sm{
  padding: 5vh 0vh 10vh 0vh;
}

.car-sm img{
  box-shadow: 3px 3px 4px grey;
}

.card{
    margin-top:25px;
    margin-bottom:25px;
    box-shadow: 2px 2px 3px silver;
    background: rgba(255, 255, 255, 0.9);
}

.card button{
  box-shadow: 1px 1px 2px grey;
}

.jumbotron button{
  box-shadow: 3px 3px 4px grey;
}

.jumbotron{
 background: transparent;
 padding:0;
 margin-top:10vh;
 margin-bottom: 0;
}

.jumbotron .card-body{
  background: #fafbfb;
}

.link-container {
  border-color: #e9ecef !important;
  height:50px;
  border-right: solid;
  width:50vw;
}

[data-aos="scaleY"] {
  transform: scaleY(0);
  transition-property: transform;
}

[data-aos="scaleY"].aos-animate {
  transform: scaleY(1);
}

[data-aos="scaleX"] {
  transform: scaleX(0);
  transition-property: transform;
}

[data-aos="scaleX"].aos-animate {
  transform: scaleX(1);
}
