.card {
  max-width: 340px;
  padding: 0;
  margin: 30px 10px 30px 10px;
  font-family: 'Jura', sans-serif;
  box-shadow: 2px 2px 3px grey !important;
  display: inline-table;
}

.card p {

  margin: 0;
}

.card-body {
  padding: 0px 4px 20px 6px;
}
