{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Συστήματα Συναγερμού</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
<link rel="stylesheet" href="{% static 'sifnaios/css/AlarmSystems.css' %}">
{% endblock %}

{% block body %}
{% include 'sifnaios/secondaryNavigationBar.html' %}

<div id="alarmIntro" class="container-fluid">
  <h2 style="padding:80px; font-family: 'Jura', sans-serif;" class="text-center">Συστήματα Συναγερμού</h2>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>APOLLO</h1>
    <hr>
  </div>
</div>

<div style="padding:0;" class="container text-center">
    {% for alarm in alarms %}
    {% if alarm.category == "APOLLO"%}
      <div class="card" style="width: 18rem; max-height:400px; margin-top:25px; display:inline-table;">
        <img style="min-height:286px;" class="card-img-top" src="{{alarm.image.url}}" alt="Card image cap">
        <div class="card-body">

        </div>
        <div class="card-footer text-muted">
          {{alarm.name}}
        </div>
      </div>
    {% endif %}

    {% endfor %}
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>S-PRO</h1>
    <hr>
  </div>
</div>

<div style="padding:0; margin-bottom:10vh;" class="container text-center">
    {% for alarm in alarms %}
    {% if alarm.category == "S-PRO"%}
      <div class="card" style="width: 18rem; max-height:400px; margin-top:25px; display:inline-table;">
        <img style="min-height:286px;" class="card-img-top" src="{{alarm.image.url}}" alt="Card image cap">
        <div class="card-body">
        </div>
        <div class="card-footer text-muted">
          {{alarm.name}}
        </div>
      </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
{% include 'sifnaios/footer.html' %}
{% endblock %}
