{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Κεραιοσυστήματα</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
<link rel="stylesheet" href="{% static 'sifnaios/css/Antenas.css' %}">
{% endblock %}

{% block body %}
{% include 'sifnaios/secondaryNavigationBar.html' %}

<div id="antenaIntro" class="container">
  <h2 style="padding-top:40px; font-family: 'Jura', sans-serif;" class="text-center">Κεραιοσυστήματα</h2>
  <hr>
</div>

<div style="color:black !important; padding-top:2vh;" class="container text-center">
  <h5 class="d-none d-md-block" style="max-width:80vw;">
    Όλος ο απαραίτητος εξοπλισμός για την λήψη και την διανομή επίγειων και δορυφορικών σημάτων.
  </h5>
  <hr class="d-none d-md-block">
  <h6 class="d-md-none" style="margin:auto; max-width:95%; font-size:15px;">
    Όλος ο απαραίτητος εξοπλισμός για την λήψη και την διανομή επίγειων και δορυφορικών σημάτων.
  </h6>
  <hr class="d-md-none">
</div>

<div style="padding:0; margin-bottom:5vh;" class="container text-center">
    {% for antena in antenas %}

      <div class="card" style="box-shadow:1px 1px 2px silver; margin:10px; max-height:400px; margin-top:25px; display:inline-table;">

        <a data-lightbox="{{antena.id}}" href="{{antena.image.url}}"> <img style="max-width:320px; max-height:240px;" src="{{antena.image.url}}" alt=""> </a>


        <div class="card-body">

        </div>
        <div class="card-footer text-muted">
          {{antena.category}}
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
{% include 'sifnaios/footer.html' %}
{% endblock %}
