{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - CCTV</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
<link rel="stylesheet" href="{% static 'sifnaios/css/cctv.css' %}">
{% endblock %}

{% block body %}
{% include 'sifnaios/secondaryNavigationBar.html' %}

<div id="cctvIntro" class="container-fluid">
  <h4 style="padding-top:150px; font-family: 'Jura', sans-serif; color:#05334b;" class="text-left">
    Κλειστά κυκλώματα παρακολούθησης και καταγραφής
  </h4>
  <hr>
</div>

  <div style="color:black !important; padding-top:2vh;" class="container text-center">
    <h5 class="d-none d-md-block" style="max-width:80vw; margin-top:3vh;">
      Μέσα από μια πλήρη γκάμα προϊόντων που διαθέτουμε, σχεδιάζουμε και υλοποιούμε το ανάλογο σύστημα CCTV
      προσαρμοσμένο στον χώρο και τις ανάγκες σας. Κάμερες πολύ υψηλής ανάλυσης και καταγραφικά με δυνατότητα
      απομακρυσμένου ελέγχου που σίγουρα θα ανταποκρίνονται στις απαίτησεις σας.
    </h5>
    <hr class="d-none d-md-block">
    <h6 class="d-md-none" style="margin:auto; max-width:95%; margin-top:3vh; font-size:15px;">
      Μέσα από μια πλήρη γκάμα προϊόντων που διαθέτουμε, σχεδιάζουμε και υλοποιούμε το ανάλογο σύστημα CCTV
      προσαρμοσμένο στον χώρο και τις ανάγκες σας. Κάμερες πολύ υψηλής ανάλυσης και καταγραφικά με δυνατότητα
      απομακρυσμένου ελέγχου που σίγουρα θα ανταποκρίνονται στις απαίτησεις σας.
    </h6>
    <hr class="d-md-none">
  </div>

  <div id="alarmIntro" class="container">
    <h2 style="padding-top:45px; padding-bottom:35px; font-family: 'Jura', sans-serif;" class="text-center">Κάμερες</h2>
  </div>


  <div style="padding:0;" class="container-fluid text-center">
    {% for cctv in cctvs %}
    {% if 'NVR' not in cctv.name %}
    <div class="card" style="width: 320px; font-family: 'Jura', sans-serif;">
      <h4 class="text-center">{{cctv.name}}</h4>
      <img style="max-height:203px; widht:auto;" class="card-img-top" src="{{cctv.image.url}}" alt="Card image">
      <div style="max-height:250px; overflow-y:auto;" class="card-body">
        <hr style="margin-top:0;">
        <h6 style="font-weight:bold;" class="text-center">Χαρακτηριστικά</h6>
        <hr>
        <div class="text-left">
          <p style="max-height:180px; overflow-y:scroll;" class="card-text">
            {{cctv.description|linebreaks}}
          </p>
        </div>
      </div>
      <a href="{{cctv.google_docs_link}}" target="_blank">
        <button style="width:100%; border-top-right-radius:0px !important; border-top-left-radius:0px !important;" class="btn btn-dark">View full Datasheet
        </button>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <div id="alarmIntro" class="container">
    <h2 style="padding-top:45px; padding-bottom:35px; font-family: 'Jura', sans-serif;" class="text-center">Καταγραφικά</h2>
  </div>


  <div style="padding:0;" class="container text-center">
    {% for cctv in cctvs %}
    {% if 'NVR' in cctv.name %}
    <div class="card" style="width: 320px; font-family: 'Jura', sans-serif;">
      <h4 class="text-center">{{cctv.name}}</h4>
      <img style="max-height:203px; widht:auto;" class="card-img-top" src="{{cctv.image.url}}" alt="Card image">
      <div style="max-height:250px; overflow-y:auto;" class="card-body">
        <hr style="margin-top:0;">
        <h6 style="font-weight:bold;" class="text-center">Χαρακτηριστικά</h6>
        <hr>
        <div class="text-left">
          <p style="max-height:180px; overflow-y:scroll;" class="card-text">
            {{cctv.description|linebreaks}}
          </p>
        </div>
      </div>
      <a href="{{cctv.google_docs_link}}" target="_blank">
        <button style="width:100%; border-top-right-radius:0px !important; border-top-left-radius:0px !important;" class="btn btn-dark">View full Datasheet
        </button>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>


  {% endblock %}

  {% block scripts %}

  {% endblock %}

  {% block footer %}
  {% include 'sifnaios/footer.html' %}
  {% endblock %}
