{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Προϊόντα LG</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
<link rel="stylesheet" href="{% static 'sifnaios/css/LG.css' %}">
{% endblock %}

{% block body %}
{% include 'sifnaios/secondaryNavigationBar.html' %}



<div style="margin-top:5vh;" class="text-center">
  <img style="height:auto; width:150px;" class="animated rollIn" src="{% static 'sifnaios/material/lg1.png' %}" alt="">
  <img style="height:auto; width:150px;" class="animated fadeIn" src="{% static 'sifnaios/material/lg2.png' %}" alt="">
</div>


<div style="padding:0;" class="container text-center">

  <div style="margin:8vh 0vh 8vh 0vh;" class="text-center">
    <h3>Επαγγελματικές τηλεοράσεις</h3>
    <hr>
  </div>
  {% for tv in tvs %}
  {% if "LV340" in tv.name or "LV300" in tv.name%}
  <div class="card" style="width: 340px;">
    <h2 class="text-center">{{tv.name}}</h2>
    <a data-lightbox="{{tv.id}}" href="{{tv.image.url}}"> <img style="max-height:203px !important; widht:auto;" src="{{tv.image.url}}" alt=""> </a>
    <div style="max-height:250px; overflow-y:auto;" class="card-body">
      <hr style="margin-top:0;">
      <h6 style="font-weight:bold;" class="text-center">Χαρακτηριστικά</h6>
      <div class="text-left">
        <p style="max-height:120px !important; overflow-y:scroll;">
          {{tv.description|linebreaks}}
        </p>
      </div>
    </div>
    <a href="{{tv.google_docs_link}}" target="_blank">
      <button style="width:100%; border-top-right-radius:0px !important; border-top-left-radius:0px !important;" class="btn btn-dark">View full Datasheet
      </button>
    </a>
  </div>
  {% endif %}
  {% endfor %}

  <div style="margin:8vh 0vh 8vh 0vh;" class="text-center">
    <h3>Επαγγελματικά monitor για Videowall</h3>
    <hr>
  </div>

  {% for tv in tvs %}
  {% if "LV35A" in tv.name or "LV35A" in tv.name%}
  <div class="card" style="width: 340px;">
    <h2 class="text-center">{{tv.name}}</h2>
    <a data-lightbox="{{tv.id}}" href="{{tv.image.url}}"> <img style="max-height:203px !important; widht:auto;" src="{{tv.image.url}}" alt=""> </a>
    <div style="max-height:250px; overflow-y:auto;" class="card-body">
      <hr style="margin-top:0;">
      <h6 style="font-weight:bold;" class="text-center">Χαρακτηριστικά</h6>
      <div class="text-left">
        <p style="max-height:120px !important; overflow-y:scroll;">
          {{tv.description|linebreaks}}
        </p>
      </div>
    </div>
    <a href="{{tv.google_docs_link}}" target="_blank">
      <button style="width:100%; border-top-right-radius:0px !important; border-top-left-radius:0px !important;" class="btn btn-dark">View full Datasheet
      </button>
    </a>
  </div>
  {% endif %}
  {% endfor %}

  <div style="margin:8vh 0vh 0vh 0vh;" class="text-center">
    <h3>Touch monitor</h3>
    <h6>(για σύστημα τηλεχειρισμού)</h6>
    <hr>
  </div>





  <div class="jumbotron jumbotron-fluid">
    <div style="padding:0;" class="container text-left">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div style="margin-bottom:0vh;" class="text-center">
            {% for tv in tvs %}
            {% if "23ET" in tv.name or "23ET" in tv.name%}
            <a data-lightbox="touch-monitor" href="{{tv.image.url}}"> <img style="max-height:250px !important; widht:auto;" src="{{tv.image.url}}" alt=""> </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="col-12 col-lg-6 my-auto">
          <div style="margin-left:10px;" class="text-left">
            <h2>LG 23ET63V</h2>
            <h6>Χαρακτηριστικά</h6>
          </div>

          <hr>
          <ul>
            <li>Μέγεθος οθόνης : 23"</li>
            <li>Τύπος οθόνης : IPS</li>
            <li>Αναλογία εικόνας : 16:9</li>
            <li>Ανάλυση : 1920x1080</li>
            <li>Αναλογία αντίθεσης : 5.000.000:1</li>
            <li>Φωτεινότητα (cd/m2) : 250</li>
            <li>Χρόνος απόκρισης (ms) :5ms</li>
            <li>Γωνία προβολής : 178°/178°</li>
            <li>Βάθος χρώματος (Αριθμός χρωμάτων) : 16.7M</li>
            <li>Γκάμα χρωμάτων : 72%</li>
            <li>Eπεξεργασία επιφάνειας : non Glare</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.car-sm').slick({

      dots: true,
      /* Just changed this to get the bottom dots navigation */
      infinite: true,
      speed: 1200,
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,

    });
  });
</script>
{% endblock %}

{% block footer %}
{% include 'sifnaios/footer.html' %}
{% endblock %}
