{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Matrix</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
{% endblock %}

{% block body %}
{% include 'sifnaios/secondaryNavigationBar.html' %}

<div id="alarmIntro" class="container">
  <h2 style="padding-top:40px; font-family: 'Jura', sans-serif;" class="text-center">Matrix</h2>
  <hr>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
{% include 'sifnaios/footer.html' %}
{% endblock %}
