{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Καμπίνες Rack</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
<link rel="stylesheet" href="{% static 'sifnaios/css/RackCabins.css' %}">
{% endblock %}

{% block body %}
{% include 'sifnaios/secondaryNavigationBar.html' %}


<div style="width:100%; box-shadow:3px 3px 4px grey; height:300px; background-image:url({% static 'sifnaios/material/rc1.jpg' %});
  background-size:cover; background-position:center;" class="">
</div>

<div style="margin-top:5vh; margin-bottom:5vh;" class="container text-center">
  <table style="box-shadow:3px 3px 4px silver;" class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Units</th>
        <th scope="col">Ύψος (cm)</th>
        <th scope="col">Πλάτος (cm)</th>
        <th scope="col">Βάθος (cm)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>42U</td>
        <td>205</td>
        <td>60</td>
        <td>80</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>42U</td>
        <td>180</td>
        <td>60</td>
        <td>60</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>37U</td>
        <td>160</td>
        <td>60</td>
        <td>60</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>32U</td>
        <td>140</td>
        <td>60</td>
        <td>60</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>27U</td>
        <td>120</td>
        <td>60</td>
        <td>60</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>22U</td>
        <td>100</td>
        <td>60</td>
        <td>60</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>18U</td>
        <td>100</td>
        <td>60</td>
        <td>60</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="jumbotron jumbotron-fluid">

  <div style="padding:0;" class="container">


    <div class="row">
      <div class="col-12 col-md-6">
        <h1>Παρελκόμενα</h1>
        <hr>
        <ul>
          <li>ΟΔΗΓΟΣ ΚΑΛΩΔΙΩΝ 1U 19''</li>
          <li>ΠΟΛΥΠΡΙΖΟ ΓΙΑ RACK 8 ΘΕΣΕΩΝ 1U ΜΕ ΠΡΟΣΤΑΣΙΑ ΥΠΕΡΤΑΣΗΣ</li>
          <li>ΡΑΦΙ 4 ΣΗΜΕΙΩΝ ΣΤΗΡΙΞΗΣ 1U - ΓΙΑ ΚΑΜΠΙΝΑ 60Χ60</li>
          <li>ΘΕΡΜΟΣΤΑΤΗΣ</li>
          <li>ΚΙΤ ΑΝΕΜΙΣΤΗΡΩΝ ΟΡΟΦΗΣ ΓΙΑ RACK 600 X 600</li>
          <li>ΚΙΤ ΑΝΕΜΙΣΤΗΡΩΝ ΟΡΟΦΗΣ ΓΙΑ RACK 600 X 800</li>
          <li>Patch panel 24 Port CAT 6</li>
          <li>Keystone Jack CAT 6</li>
        </ul>
      </div>
      <div class="col-12 col-md-6 text-center">
        <img data-aos="zoom-out-down" data-aos-duration="600" style="max-width:320px; height:auto; box-shadow:2px 2px 2px silver;" src="{% static 'sifnaios/material/rc2.jpg' %}" alt="">
      </div>
    </div>

  </div>

</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
{% include 'sifnaios/footer.html' %}
{% endblock %}
