{% extends 'sifnaios/base.html' %}

{% load static %}

{% block title %}
<title>Sifnaios Services - Διανομή σήματος TV</title>
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'sifnaios/css/secondaryNavigationBar.css' %}">
<link rel="stylesheet" href="{% static 'sifnaios/css/TVSignal.css' %}">
{% endblock %}

{% block body %}
{% include 'sifnaios/secondaryNavigationBar.html' %}




<div class="container">
  <h2 style="padding-top:40px; font-family: 'Jura', sans-serif;" class="text-center">DTV Διαμορφωτές</h2>
  <hr>
</div>

  <div style="padding:0;" class="container text-center">
      {% for dtvformer in dtvformers %}
        <div class="card" style="max-width: 340px;">
          <h2 class="text-center">{{dtvformer.name}}</h2>
          <img style="height:auto; max-width:340px;" class="card-img-top" src="{{dtvformer.image.url}}" alt="Card image">
          <div style="max-height:220px; overflow-y:auto;" class="card-body">
            <hr style="margin-top:0;">
            <h6 style="font-weight:bold;" class="text-center">Χαρακτηριστικά</h6>
            <hr>
            <div class="text-left">
              <p style="max-height:120px !important; overflow-y:scroll;" class="card-text">
                {{dtvformer.description|linebreaks}}
              </p>
            </div>

          </div>


          <a href="{{tv.google_docs_link}}" target="_blank">
            <button style="width:100%; border-top-right-radius:0px !important; border-top-left-radius:0px !important;"
                    class="btn btn-dark">View full Datasheet
            </button>
          </a>


        </div>
      {% endfor %}

  </div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
{% include 'sifnaios/footer.html' %}
{% endblock %}
